NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_IMAGE_CDN_DOMAIN=
NEXT_PUBLIC_CDN_DOMAIN=

ENVIRONMENT_DESCRIPTION=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

DISCORD_WEBHOOK_ACTION=
DISCORD_WEBHOOK_ERROR=

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

RESEND_API_KEY=

NEXT_PUBLIC_GAID=