.forms {
  display: flex;
  gap: 3rem;
  max-width: 62rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.forms .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background: var(--background-dark);
  border-radius: 1rem;
  border: var(--background-light);
  flex: 1;
}

.checkMark__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: fit-content;
}


.checkMark {
  width: 100px;
  height: 100px;
  animation: fade-in 0.15s ease-out;
}

.checkMark-circle {
  stroke: var(--color-success);
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: circle-draw 0.5s ease-out forwards;
}

.checkMark-check {
  stroke: var(--color-success);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 36;
  stroke-dashoffset: 36;
  animation: check-draw 0.25s ease-out 0.5s forwards;
}

.successText {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.successText-sub {
  width: 100%;
  text-align: center;
}

.paymentInfos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paymentInfos .description {
  font-size: 1.125rem;
  font-weight: 600;
}

.paymentInfos .value {
  font-size: 1rem;
  font-weight: 400;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes circle-draw {
  from {
    stroke-dashoffset: 157;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check-draw {
  from {
    stroke-dashoffset: 36;
  }

  to {
    stroke-dashoffset: 0;
  }
}