.titlesComp {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    width: 100%;
    color: var(--foreground);
}

.titlesComp .titles__child {
    width: 100%;
    max-width: 62rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0 1rem;
}

.titlesComp .title {
    font-weight: 700;
    font-size: 2rem;
}

.titlesComp .description {
    font-weight: 700;
    font-size: 1rem;
    color: var(--foreground);
}

@media (max-width: 428px) {
    .titlesComp .title {
        font-size: 1.5rem;
    }

    .titlesComp .description {
        font-size: 0.875rem;
    }
}