.fileComp {
    width: fit-content;
    height: fit-content;
    display: block;
}

.fileComp-child {
    width: 10rem;
    border-radius: 0.25rem;
    border: var(--border-thin-color) 2px solid;
    overflow: hidden;
}


.fileComp__description-par {
    width: fit-content;
    min-width: 100%;
    padding: 0.25rem;
    background: var(--border-thin-color);
}

.fileComp__description {
    text-align: center;
    min-width: 100%;
    display: block;
}