@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-light: #f0f0f0;
  --foreground: #171717;
  --foreground-light: #333333;
  --foreground-dark: #717171;
  --color-theme: #1155cc;
  --color-theme-light: #90acdc;
  --color-theme-thin: #1155cc33;
  --border-thin-color: #c8c8c8;
  --border-thin: 1px solid var(--border-thin-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-light: #272727;
    --foreground: #ededed;
    --foreground-light: #000000;
    --foreground-dark: #b3b3b3;
    --color-theme: #90acdc;
    --color-theme-light: #1155cc;
    --color-theme-thin: #1155cc33;
    --border-thin-color: #333333;
    --border-thin: 1px solid var(--border-thin-color);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.default-max-width {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}