.mainContents {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.benefits .benefit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.benefit .benefit__title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground);
}

.benefit .benefit__description {
    font-size: 0.75rem;
    color: var(--foreground--dark);
}

.receipt-par {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.introduceWeb-par {
    display: flex;
    align-items: center;
}

.introduceWeb__button {
    margin: 0 auto;
    width: fit-content;
}

.members-par {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankTable {
    display: grid;
    grid-template-columns: 6rem 1fr;
    gap: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: var(--background);
    border: var(--background-light) 2px solid;
    padding: 1rem;
}

.bankTable .title {
    font-size: 1rem;
    font-weight: 500;
}