.forms {
    display: flex;
    gap: 3rem;
    max-width: 62rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.forms .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background: var(--background-dark);
    border-radius: 1rem;
    border: var(--background-light);
    flex: 1;
}

.forms .form .item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.forms .form .item .item__label {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--foreground--light);
}

.forms .form .inputs {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    width: fit-content;
}

.forms .form .inputs input[type="radio"] {
    position: relative;
    border: 1px solid var(--color-theme);
    width: 1.25rem;
    height: 0.75rem;
    border-radius: 0.375rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 0.5rem;
    border-radius: 0.125rem;
    border-radius: 0.25rem;
    background: var(--color-theme);
    content: "";
    transform: translate(-50%, -50%);
}

.forms .form .inputs input[type="checkbox"] {
    position: relative;
    border: 1px solid var(--color-theme);
    width: 1rem;
    height: 1rem;
    border-radius: 50% !important;
}

.forms .form .item input[type="text"],
.forms .form .item input[type="email"],
.forms .form .item input[type="number"] {
    padding: 0.625rem;
    border: var(--background-light) 1px solid;
    border-bottom: 2px solid var(--background-light);
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--background);
    color: var(--foreground);
}

.forms .form .item input[type="text"]:focus,
.forms .form .item input[type="email"]:focus,
.forms .form .item input[type="number"]:focus {
    outline: none;
    border-bottom: 2px solid var(--color-theme);
}

.forms .form .item#amount .field__par,
.forms .form .item#check .inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.forms .form .item#amount .field__par input[type="number"] {
    width: calc(6rem + (0.625rem * 2));
}

.forms .form .item .item__error {
    font-size: 0.625rem;
    color: var(--color-error);
}

.addChips {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    width: 100%;
}

.addChips .addChip {
    padding: 0.25rem 0.375rem;
    border-radius: 0.25rem;
    color: var(--color-theme);
    font-weight: 600;
    font-size: 0.75rem;
    border: var(--color-theme) 1px solid;
    cursor: pointer;
}

.addChips .addChip:hover {
    background: var(--color-theme-thin);
}

@media (max-width: 428px) {
    .forms {
        flex-direction: column;
        gap: 1rem;
    }

    .forms .form {
        padding: 1rem;
    }

    .forms .form .item input[type="text"],
    .forms .form .item input[type="email"],
    .forms .form .item input[type="number"] {
        padding: 0.5rem;
    }

    .forms .form .item#amount .field__par input[type="number"] {
        width: calc(6rem + (0.625rem * 2));
    }
}