.steps {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.step {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.step .activeChip {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-theme);
    opacity: 0%;
}

.step.step--active .activeChip {
    opacity: 100%;
}

.step .label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--foreground);
}