.arrowButton {
    width: fit-content;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.arrowButton__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border-radius: 50%;
    border: var(--border-thin);
}

.arrowButton__icon svg {
    fill: var(--color-theme);
    width: 1.875rem;
    height: 1.875rem;
}

.arrowButton__label {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--foreground);
}