.CT-listCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--background);
    width: fit-content;
    border: var(--border-thin);
    color: var(--foreground);
}

.CT-listCard .titles {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    min-width: 100%;
}

.CT-listCard .titles .titles__title {
    font-size: 1.25rem;
    font-weight: 500;
}

.CT-listCard .prices {
    display: flex;
    gap: 0.375rem;
    align-items: flex-end;
}

.CT-listCard .prices p {
    font-size: 1.5rem;
    font-weight: 600;
}

.CT-listCard .prices p .num {
    color: var(--color-theme);
}

.CT-listCard .prices p .unit {
    color: var(--foreground);
}

.CT-listCard .prices .amount {
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground-dark);
}